// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
//@import "bootstrap/print";
//@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
//@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
//@import "bootstrap/dropdowns";
//@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
//@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/responsive-embed";
//@import "bootstrap/wells";
//@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import '../../bower_components/modular-scale/stylesheets/modular-scale';
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import '_mappy-breakpoints';

//$fa-font-path: "../bower_components/components-font-awesome/fonts";
// bower:scss
//$enable-flex: true;
//@import "bower_components/bootstrap/scss/bootstrap.scss";
//@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

/* ---------------------------------------------------------------------------------------------------------------- */
// BASIC VARIABLES, PROJECT SETUP

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-width: 1200px;
$hd-width: 1980px;
$base-value: 1em;
$perdoo-blue: #059DDF; // the blue I got from Nick
//$perdoo-blue: #1c75bf; // the blue we used in the documents
$perdoo-green: #91DA53;//#B0E93D;
$perdoo-lightest-grey: #FAFAFA;
$perdoo-light-grey: #EBEBEB;
$perdoo-medium-grey: #767676;
$perdoo-dark-grey: #2C2C2C;
$perdoo-text-color: #5E5E5E;
$link-color: $perdoo-blue;
$white-rollover: mix(white, $perdoo-blue, 80%);
$global-spacing: 6%;
$line-height: 2px;
$ms-base: 12px;
$ms-ratio: $major-second; 
//$ms-range:
//  1.1   20em,
//  1.333 60em;
//$base-size: 14px 30px;
//$ratio: $golden;


/* ---------------------------------------------------------------------------------------------------------------- */
// FUNCTIONs

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function svg-fill ($svg, $color) {
  @return str-replace($svg, '<svg', '<svg fill="#{$color}"');
}

@function svg-size ($svg, $width, $height) {
  $svg: str-replace($svg, '<svg', '<svg width="#{$width}"');
  $svg: str-replace($svg, '<svg', '<svg height="#{$height}"');
  
  @return $svg;
}

/* ---------------------------------------------------------------------------------------------------------------- */
// SVGs

@import 'svg-icons.scss';

@mixin svg-arrow($color:$perdoo-blue) {
    &:after {
        content: url(svg-arrow-fill($color));
    }
}

@mixin svg-checkmark($color:$perdoo-green) {
    &:after {
        content: url(svg-checkmark-fill($color));
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
// MIXINs

@mixin fixwidth($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}

@mixin fixheight($height) {
    height: $height;
    min-height: $height;
    max-height: $height;
}

@mixin portrait-landscape-spacing($attr:null, $value:null) {
    @media (orientation: landscape) {
        #{$attr}: $value * 2;
    }
    @media (orientation: portrait) {
        #{$attr}: $value;
    }
}

@mixin media-range($min:mobile, $max:null, $orientation:landscape) {
    @if ($min==mobile) or ($min==null) {
        $min-px: 1px;
    }
    @if ($min==tablet) {
        $min-px: $tablet-width;
    }
    @if ($min==desktop) {
        $min-px: $desktop-width;
    }
    @if ($min==wide) {
        $min-px: $wide-width;
    }
    @if ($min==hd) {
        $min-px: $hd-width;
    }
    @if ($max==mobile) {
        $max-px: $tablet-width - 1px;
    }
    @if ($max==tablet) {
        $max-px: $desktop-width - 1px;
    }
    @if ($max==desktop) {
        $max-px: $wide-width - 1px;
    }
    @if ($max==wide) {
        $max-px: $hd-width - 1px;
    }
    
    @if ($max==null) {
        @include mappy-bp($min-px) {
            @content;
        }
    } 
    @else {
        @include mappy-bp($min-px $max-px) {
            @content;
        }
    }
}

@mixin create-flexbox($halign:space-between, $valign:center, $inline:false, $column:false) {
    @if $inline {
        display: inline-flex;
    }
    @else {
        display: flex;
    }
    @if ($column) {
        flex-direction: column;
    }
    @else {
        flex-direction: row;
    }
    justify-content: $halign;
    align-items: $valign;
    align-content: $valign;
    // bootstrap before:after hack
    &:before,
    &:after {
        content: none;
    }
}

@mixin font-weight($weight:light) {
    @if ($weight == null) or ($weight == light) {
        font-weight: lighter;
        font-weight: 300;
    }
    @if ($weight == normal) {
        font-weight: normal;
        font-weight: 400;
    }
    @if ($weight == semibold) {
        font-weight: bold;
        font-weight: 600;
    }
    @if ($weight == bold) {
        font-weight: bolder;
        font-weight: 700;
    }
}

@mixin font-size-calculate($multiply) {
    @if ($multiply < 1) {
        font-size: ms(1) * $multiply;
    }
    @else {
        font-size: ms($multiply);
    }
    line-height: ms($multiply) * 1.5;
    letter-spacing: (ms($multiply) * ($multiply/100));
    font-kerning: normal;
}

@mixin line-height-calculate($font-size, $multiply:1) {
    line-height: (ms($font-size) * $ms-ratio) * $multiply  !important;
}

@mixin font-size-media($multiply) {
    
    @include media-range(mobile, tablet, landscape) {
        @include font-size-calculate($multiply);
    }
    
    @include media-range(mobile, tablet, portrait) {
        @include font-size-calculate($multiply);
    }
    
    @include media-range(desktop) {
        @include font-size-calculate($multiply);
    }
    @include media-range(hd) {
        @include font-size-calculate($multiply*1.5);
    }
}

@mixin button-maker($size:20px) {
    padding-top: $size;
    padding-bottom: $size;
    padding-left: $size * 2;
    padding-right: $size * 2;
    border-radius: $size * 2;
}

@mixin icon-button ($icon-svg, $icon-color, $icon-color-hover) {
    background: url('#{svg-fill($icon-svg, $icon-color)}');
    
    &:hover {
        background: url('#{svg-fill($icon-svg, $icon-color-hover)}');
    }
}

@mixin button-outline-rollover($color:$perdoo-blue) {
    &:hover {
        color: $color !important;
        border-color: $color !important;
        fill: $color !important;
        svg {
            fill: $color !important;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
// BASIC SETUP and FIXES

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
}

.contaniner, .container-fluid {
    padding: 0;
    margin: 0;
}

* {
    transition: all .3s ease;
    color: $perdoo-text-color;
}

a:hover {
    text-decoration: none;
}

html, body {
    @include font-weight(normal);
    @include font-size-media(1);
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

h1 {
    @include font-weight(bold);
    @include font-size-media(7);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h2 {
    @include font-weight(light);
    @include font-size-media(6);
    font-family: 'Montserrat', sans-serif;
}

h3 {
    @include font-weight(light);
    @include font-size-media(5);
    font-family: 'Montserrat', sans-serif;
}

h4 {
    @include font-weight(light);
    @include font-size-media(4);
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

h5 {
    @include font-weight(light);
    @include font-size-media(3);
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

h6 {
    @include font-weight(light);
    @include font-size-media(2);
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

.perdoo-title {
    font-family: 'Montserrat', sans-serif;
    @include font-weight(bold);
    text-transform: uppercase;
}

.button-zoom-hover {
    &:hover {
        transform: scale(1.1);
    }
}

.button {
    &:hover {
        text-decoration: none;
    }
}

.button-outline-blue {
    background: none;
    border: $line-height solid $perdoo-blue;
}

.button-outline-white {
    background: none;
    border: $line-height solid white !important;
}
.button-outline-grey {
    background: none;
    border: $line-height solid $perdoo-medium-grey !important;
}

.button-fill-white {
    background-color: white;
    border: $line-height solid transparent;
    color: $perdoo-blue;
}

.button-fill-blue {
    background-color: $perdoo-blue;
    border: $line-height solid transparent;
    color: white;
}
    
.button-big {
    @include button-maker(30px);
}
.button-medium {
    @include button-maker(20px);
}
.button-small {
    @include button-maker(10px);
}

/* ---------------------------------------------------------------------------------------------------------------- */

header {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-fixed-top;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    
    button {
        background: none !important;
        border: 0 !important;
        * {
            background-color: $perdoo-blue !important;
        }
        
    }
    
    nav {
        @extend .container;
        padding: 1em;
        #header-branding {
            @extend .navbar-header;
            a {
                @extend .navbar-brand;
                svg {
                    color: $perdoo-blue;
                    fill: $perdoo-blue;
                }
            }
        }
        #header-navigation {
            @extend .collapse;
            @extend .navbar-collapse;
            ul {
                @extend .nav;
                @extend .navbar-nav;
                @extend .navbar-right;
                margin-right: auto;
                li {
                    a {
                        color: $perdoo-blue;
                        
                        &:hover {
                            color: darken($perdoo-blue, 20%);
                        }
                    }
                    .button {
                        @extend .button-outline-blue;
                        @include font-weight(bold);
                        @include button-maker(15px);
                        &:hover {
                            @extend .button-fill-blue;
                        }
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}

.header-noshadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
}

.header-bright {
    @include media-range(tablet) {
        background-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        nav {
            #header-branding svg {
                color: white;
                fill: white;
            }
            #header-navigation {
                a {
                    color: $white-rollover;
                    &:hover {
                        color: white;
                    }
                }
                a.button {
                    color: white;
                }
                .button {
                    @extend .button-outline-white;
                    &:hover {
                        @extend .button-fill-white;
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#main-hero {
    @extend .container-fluid;
    @include portrait-landscape-spacing(padding-top, 8vh);
    @include media-range(mobile, mobile) {
        @include portrait-landscape-spacing(padding-top, 16vh);
    }
    background: none;
    background-image: url(../images/main-bg-charts.svg);
    background-color: $perdoo-blue;
    background-size: 105% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    
    div {
        @extend .center-block;
        height: 100%;

        * {
            color: white;
        }
        h1 {
            @include font-size-media(8);
            
        }
        h5 {
            opacity: .6;
            margin-bottom: 1.5em;
        }
        img {
            @extend .img-responsive;
            @extend .center-block;
            max-width: 50vw;
        }
        * {
            text-align: center;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#customer_quotes {
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
    @extend .container;
    * {
        text-align: center;
    }
    h6 {
        margin-bottom: 30px;
        @extend .perdoo-title;
    }
    
    #customer_quotes__customers {
        @extend .row;
        display:flex;
        @include media-range(mobile, tablet) {
            flex-wrap:wrap;
        }
        margin-top: $global-spacing;
        
        .customer_quotes__customer-box {
            @extend .col-md-4;
            display:flex;
            flex-wrap:wrap;
            
        
            .customer_quotes__customer-column {
                padding: 60px 30px 45px 30px;
                border: $line-height solid $perdoo-light-grey;
                border-radius: .5em;
                margin-top: 5px;
                position: relative;
                box-shadow:0px 0px $perdoo-lightest-grey;
                &:hover {
                    box-shadow:0px 15px 20px #f2f2f2;
                    margin-top:0;
                    margin-bottom: 5px;
                }

                .customer_quotes__face {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    right: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    border: 10px solid white;
                    @include fixwidth(80px);
                    @include fixheight(80px);
                }
                
                .customer_quotes__name {
                    @extend .perdoo-title;
                    @include font-size-media(.8);
                    color: lighten($perdoo-medium-grey, 30%);
                    margin-bottom: -2px;
                }
                
                .customer_quotes__title {
//                    @extend .perdoo-title;
                    @include font-size-media(.8);
                    color: lighten($perdoo-medium-grey, 30%);
                    margin-bottom: 5px;
                }
                
                .customer_quotes__quote {
                    color: $perdoo-medium-grey;
                    strong {
                        @include font-weight(semibold);
                    }
                }
                .customer_quotes__logo {
                    align-self: flex-end;
                    max-width: 120px;
                    max-height: 80px;
                    margin-top: 20px;
                }
            }
        }
    }
    #customer_quotes__quotes {
    margin-top: $global-spacing / 2;
        @extend .col-md-10;
        @extend .col-md-offset-1; 
        
        h5 {
            margin-bottom: 2em;
        }
        span {
            color: lighten(#000, 70%);
            text-transform: uppercase;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

//section#need_perdoo {
//    padding-top: $global-spacing;
//    padding-bottom: $global-spacing;
//    @extend .container-fluid;
//    margin-left: 1em;
//    margin-right: 1em;
//    
//    border-radius: 2em;
//    background-color: $perdoo-lightest-grey;
//    
//    #neeed_perdoo__container {
//        @extend .container;
//        @include create-flexbox(space-between, space-between, false, column);
//        * {
//            text-align: center;
//            margin-bottom: 1em;
//            &:last-child {
//                margin-bottom: 0;
//            }
//        }
//        #need_perdoo__icons {
//            padding: 0;
//            margin-top: $global-spacing;
//            @extend .col-sm-10;
//            @extend .col-sm-offset-1; 
//            @include create-flexbox(space-between, flex-start);
//            
//            hr {
//                width: $line-height;
//                height: 100px;
//                background-color: $perdoo-light-grey;
//                margin-top: 0;
//            }
//
//            .need_perdoo__icon_column {
//                @include create-flexbox(space-between, space-between, false, column);
//                height: 100px;
//
//                p {
//                    text-transform: uppercase;
//                    @include font-weight(semibold);
//                    @include media-range(mobile, mobile) {
//                        @include font-size-media(.7);
//                    }
//                }
//                
//                img {
//                    transform: scale(2);
//                    @include media-range(mobile, mobile) {
//                        transform: scale(1);
//                    }
//                }
//            }
//        }
//    }
//    
//    #need_perdoo__text {
//        padding: 0;
//        margin-top: $global-spacing / 2;
//        @extend .col-md-10;
//        @extend .col-md-offset-1;
//        
//        h4 {
//            strong {
//                color: $perdoo-blue;
//                @include font-weight(semibold);
//            }  
//        }
//    }
//}

section#need_perdoo {
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
    @extend .container-fluid;
    background-color: $perdoo-blue;
    
    #neeed_perdoo__container {
        @extend .container;
        @include create-flexbox(space-between, space-between, false, column);
        * {
            text-align: center;
            color: white;
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
        #need_perdoo__icons {
            padding: 0;
            margin-top: $global-spacing;
            @extend .col-sm-10;
            @extend .col-sm-offset-1; 
            @include create-flexbox(space-between, flex-start);
            
            hr {
                width: $line-height;
                height: 100px;
                background-color: lighten($perdoo-blue, 10%);
                margin-top: 0;
                border: none;
            }

            .need_perdoo__icon_column {
                @include create-flexbox(flex-end, space-between, false, column);
                width: 50%;
                height: 100px;

                p {
                    text-transform: uppercase;
                    @include font-weight(semibold);
                    @include media-range(mobile, mobile) {
                        @include font-size-media(.7);
                    }
                }
                
                &:nth-of-type(1) {
                    background: url(svg-transparency-icon-fill(#ffffff));
                    background-repeat: no-repeat;
                    background-size: auto 60%;
                    background-position: center top;
                }
                &:nth-of-type(2) {
                    background: url(svg-alignment-icon-fill(#ffffff));
                    background-repeat: no-repeat;
                    background-size: auto 60%;
                    background-position: center top;
                }
                &:nth-of-type(3) {
                    background: url(svg-engagement-icon-fill(#ffffff));
                    background-repeat: no-repeat;
                    background-size: auto 60%;
                    background-position: center top;
                }
            }
        }
    }
    
    #need_perdoo__text {
        padding: 0;
        margin-top: $global-spacing / 2;
        @extend .col-md-10;
        @extend .col-md-offset-1;
        
        h4 {
            color: mix(white, $perdoo-blue, 90%);
            strong {
                color: white;
                @include font-weight(semibold);
            }  
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#what_is {
    margin-top: $global-spacing;
    padding-bottom: $global-spacing;
    @extend .container-fluid;
    position: relative;
    
    #what_is__image {
        @include create-flexbox(flex-end, center);
        position: absolute;
        overflow: hidden;
        min-width: 50vw;
        left: 0;
        top: 0;
        z-index: -1;
        
        img {
            max-width: 50vw;
        }
            
        @include media-range(mobile, tablet) {
            position: inherit;
            justify-content: center;
            order: 2;
                
            img {
                max-width: 80vw;
                display: none;
            }
        }
    }    
    #what_is__container {
        @extend .container;
//        @include create-flexbox();
        
        @include media-range(mobile, tablet) {
            flex-direction: column;
        }
        
        #what_is__text {
            @extend .col-md-5;
            @extend .col-md-offset-7;
            
            h6 {
                text-transform: uppercase;
                color: $perdoo-blue;
                @include font-size-media(1);
                @include font-weight(semibold);
                
                margin-top: 2em;
                background: url(svg-checkmark-fill());
                background-repeat: no-repeat;
                padding-left: 30px;
                height: 30px;
                padding-top: 2px;
            }
                
            @include media-range(mobile, tablet) {
                h1 {
                    text-align: center;
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#impressum {
    @include portrait-landscape-spacing(padding-top, 10vh)
    @extend .container-fluid;
    @include portrait-landscape-spacing(height, 60vh)
    
    #impressum__container {
        @extend .container;
        
        h1 {
            text-align: center;
            margin-bottom: $global-spacing;
        }
        
        .impressum__col1 {
            @extend .col-md-2;
            @extend .col-md-offset-1;
        }
        .impressum__col2 {
            @extend .col-md-8;
            @extend .col-md-offset-1;
        }
        
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#terms {
    @include portrait-landscape-spacing(padding-top, 10vh)
    @extend .container-fluid;
    
    #terms__container {
        @extend .container;
        
        h1 {
            text-align: center;
            margin-bottom: $global-spacing;
        }
        
        div {
            @extend .col-md-10;
            @extend .col-md-offset-1;
            padding-bottom: $global-spacing;
            
            h1, h2, h3, h4, h5, h6 {
                margin-top: 1em;
            }
            p {
                margin-top: .5em;
            }
            h3 {
                @include font-size-media(2);
            }
            ul {
                padding-left: 1.5em;
            }
        }
        
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#ready {
    margin-top: $global-spacing;
    @extend .container-fluid;
    @include create-flexbox(center, center, false, column);
    background-color: $perdoo-blue;
    padding-top: $global-spacing / 2;
    padding-bottom: $global-spacing / 2;
    
    
    background-image: url(svg-rocket-icon-fill(mix(white, $perdoo-blue, 10%)));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
    
    * {
        text-align: center;
        color: white;
    }
    
    #ready__container {
        @extend .container;
        
        * {
            display: block;
        }
        
        h5 {
            opacity: .6;
            margin-top: .5em;
        }
        
        .button {
            margin-top: 2em;
            display: inline-block;
            @extend .button-fill-white;
            @extend .button-medium;
            @extend .button-zoom-hover;
            @include font-weight(semibold);
        }
        
        .arrow {
            @include svg-arrow(white);
            display: block;
        }
    }
    a {
        color: mix(white, $perdoo-blue, 50%);
        &:hover {
            color: white;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#about_perdoo {
    @extend .container-fluid;
    background-color: $perdoo-blue;
//    @include portrait-landscape-spacing(padding-top, 100px)
    padding-top: 100px;
    padding-bottom: 3em;
    
    #about__container {
        @extend .container; 
        * {
            color: white;
        }
        
        div {
            @extend .col-md-6;
            @extend .col-md-offset-3;
            
            h1 {
                text-align: center;
                padding-bottom: 1em;
            }
            
            p {
                text-align: center;
                margin-bottom: 3em;
                @include line-height-calculate(6);
                @include font-size-media(2);
                color: mix(white, $perdoo-blue, 90%)
            }
            
            h6 {
                text-align: center;
                @include font-weight(bold);
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#price_header {
    @extend .container-fluid;
    background-color: $perdoo-blue;
//    @include portrait-landscape-spacing(padding-top, 100px)
    padding-top: 100px;
    padding-bottom: 3em;
    
    #price_header__container {
        @extend .container; 
        * {
            color: white;
            text-align: center;
        }
        
        h5 {
            opacity: .6;
        }
        
        div {
            @extend .col-md-6;
            @extend .col-md-offset-3;
        }
    }
}

section#price {
    @extend .container-fluid;
    
    #price__container {
        @extend .container; 
        padding: 0;
        
        h2 {
            text-transform: uppercase; 
            @include font-size-media(4);
        }
        
        #price__col1 {
            @extend .col-md-8; 
            margin-top: 40px; 
            margin-bottom: 40px;
            
            #price__calculator {
                form {
                    margin-top: 20px;
                    input {
                        width: 100px;
                        height: 50px;
                        border-radius: 5px;
                        border: $line-height solid $perdoo-light-grey;
                        margin-right: 4px;
                        padding: 10px;
                        @include font-size-media(6);
                        @include font-weight(semibold);
                        color: $perdoo-blue;
                        letter-spacing: -1px !important;
                    }
                    label {
                        color: $perdoo-blue;
                        @include font-weight(normal);
                    }
                }
                p {
                    color: lighten($perdoo-medium-grey, 30%);
                }
                #price__calculator-container {
                    width: 90%;
                    #price__calculator-slider {
//                        border-bottom: 5px solid transparent;
                        background-image: url(svg-dashed-rounded-line());
                        background-position: right 15px;
                        background-repeat: repeat-x;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        
                        #price__calculator-slider-button {
                            margin-bottom: -15px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: $perdoo-blue;
                            border: 4px solid white;
                            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
                        }
                    }
                    #price__calulcator-min-max {
                        @include create-flexbox(space-between);
                        * {
                           color: lighten($perdoo-medium-grey, 30%); 
                        }
                        #price__calulcator-min {
                            margin-left: 10px;
                        }
                        #price__calulcator-max {
                            float: right;
                            margin-right: 10px;
                        }
                    }
                }
            }
            #price__available, #price__soon {
                margin-top: 40px;
                img {
                    float: left;
                    display: inline-block;
                    height: 100%;
                    width: 40px;
                }
                div {
                    margin-left: 60px;
                    h2 {
                        padding-top: 5px;
                    }
                    ul {
                        list-style-type: none;
                    }
                    li {
                        padding: 15px 5px 0px 0px;
                        @include font-size-media(2);
                    }
                    li:before {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 2px solid lighten($perdoo-medium-grey, 30%); 
                        margin-right: 15px;
                    }
                }
            }
            #price__soon {
                padding-top: 40px;
                border-top: 2px dotted $perdoo-light-grey; 
                * {
                    color: lighten($perdoo-medium-grey, 30%); 
                }
            }
        }
        
        #price__col2 {
            @extend .col-md-4;
            margin-top: 25px;
            border: 1px solid lighten($perdoo-medium-grey, 30%);
            border-radius: 10px;
            padding: 0;
            
            #price__col2_title {
                padding: 15px;
                border-bottom: 1px solid lighten($perdoo-medium-grey, 30%);
                h2 {
                    color: $perdoo-blue;
                }
                p {
                    color: $perdoo-medium-grey;
                    @include font-weight(semibold);
                }
            }
            #price__col2_indicator {
                padding: 15px;
                border-bottom: 1px solid lighten($perdoo-medium-grey, 30%);
                p {
                    color: lighten($perdoo-medium-grey, 30%);
                    @include font-weight(semibold);
                }
                p#price__col2_price {
                    color: $perdoo-green;
                    @include font-size-media(12);
                    letter-spacing: -1px !important;
                    
                    span {
                        color: $perdoo-green; 
                        @include font-size-media(1);
                    }
                }
                #price__switch_container {
                    @include create-flexbox(center, center);
                    margin-top: 14px;
                    $switch-size: 30px;
                    $switch-margin: 2px;
                    
                    #price__switch_monthly, #price__switch_annual {
                        color: lighten($perdoo-medium-grey, 30%);
                        @include font-weight(semibold);
                    }
                    #price__switch_monthly.selected, #price__switch_annual.selected {
                        color: $perdoo-blue;
                    }
                    
                    #price__switch {
                        margin-left: 10px;
                        margin-right: 10px;
                        border: 2px solid $perdoo-light-grey;
                        border-radius: $switch-size / 2;
                        padding: $switch-margin;
                        width: $switch-size * 2.2;
                        height: $switch-size;
                        
                        #price__switch_button {
                            background-color: $perdoo-blue;
                            border-radius: $switch-size - $switch-margin;
                            width: $switch-size - $switch-margin * 4;
                            height: $switch-size - $switch-margin * 4;
                        }
                        #price__switch_button.annual {
                            margin-left: $switch-size * 1.2;
                        }
                        #price__switch_button.monthly {
                            margin-left: 0;
                        }
                    }
                }
            }
            #price__col2_start {
                background-color: $perdoo-lightest-grey;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
                padding-bottom: 50px;
                
                p {
                    padding-top: 25px;
                    padding-bottom: 35px;
                    color: lighten($perdoo-medium-grey, 30%);
                }
                
                .button {
                    @extend .button-fill-blue;
                    @include button-maker(20px);
                    @include font-weight(semibold);
//                    @extend .button-medium;
//                    @extend .button-zoom-hover;
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#founders_perdoo {
    @include portrait-landscape-spacing(padding-top, $global-spacing)
    @extend .container-fluid;
    
    #founders__container {
        @extend .container;
        margin-bottom: $global-spacing / 2;
        text-align: center;
        
        .founders__col1, .founders__col2 {
            @extend .col-md-6;
            @include create-flexbox(baseline, center, false, column);
            @include font-size-media(2);
            @include line-height-calculate(6);
            text-align: left;
            padding: $global-spacing / 2;
            
            .founders__name {
                text-align: center;
                margin: $global-spacing / 2;
                @extend .perdoo-title;
                @include font-size-media(.8);
                color: $perdoo-blue;
            }
            
            img {
                border-radius: 50%;
                margin-bottom: $global-spacing / 4;
                width: 40%;
                max-width: 40%;
                height: auto;
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

section#get-to-know {
    @extend .container-fluid;
    background-color: $perdoo-blue;
    
    &:hover {
        background-color: darken($perdoo-blue, 5%);
    }
    
    div {
        @include create-flexbox(center, center);
        padding: $global-spacing / 2;
    }
    
    * {
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    h3 {
        text-align: center;
        padding: 1em;
        padding-right: 70px;
        background-image: url(svg-paperplane-fill(#ffffff));
        background-repeat: no-repeat;
        background-position: center right;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

footer {
    @extend .container-fluid; 
    
    section#footer-row1 {
        padding-top: $global-spacing / 4;
        padding-bottom: $global-spacing / 4;
        background-color: $perdoo-dark-grey;

        #footer-row1__container {
            @extend .container;
            * a {
                display: block;
                color: $perdoo-medium-grey;
                fill: $perdoo-medium-grey;
                padding: .5em;
                padding-left: 0;
                
                &:hover {
                    color: $perdoo-blue;
                }
            }
            
            .button {
                @extend .button-outline-grey;
                @include button-maker(10px);
                @include button-outline-rollover();
                margin: .5em;
                text-align: left;
                display: block;
            }

            #footer-row1__column1 {
                @extend .col-sm-2;
                @extend .col-xs-4;
                padding-left: 0;
                padding-right: 0;
            }
            #footer-row1__column2 {
                @extend .col-sm-2;
                @extend .col-xs-4;
                padding-left: 0;
                padding-right: 0;
            }
            #footer-row1__column3 {
                @extend .col-sm-2;
                @extend .col-xs-4;
                padding-left: 0;
                padding-right: 0;
            }
            #footer-row1__column1, #footer-row1__column2, #footer-row1__column3 {
                @include media-range(mobile, mobile) {
                    text-align: center;
                }
            }
            #footer-row1__column4 {
                @extend .col-sm-6;
                @extend .col-xs-12;
                @include create-flexbox(flex-end, flex-start);
                padding-left: 0;
                padding-right: 0;
                
                @include media-range(mobile, mobile) {
                    justify-content: space-around;
                    margin-top: 1em;
                    padding-top: 1em;
                    border-top: 1px solid darken($perdoo-medium-grey, 15%);
                }
            
                .apple_store {
                    background-image: url(svg-applestore-fill($perdoo-medium-grey));
                    background-position: 50% 44%;
                    background-repeat: no-repeat;
                    @include fixwidth(40px);
                    @include fixheight(40px);
                    padding: 0;
                    &:hover {
                        background-image: url(svg-applestore-fill());
                    }
                }

                .google_play {
                    background-image: url(svg-googleplay-fill($perdoo-medium-grey));
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    @include fixwidth(40px);
                    @include fixheight(40px);
                    padding: 0;
                    &:hover {
                        background-image: url(svg-googleplay-fill());
                    }
                }
                
                .linkedin {
                    background-image: url(svg-linkedin-fill($perdoo-medium-grey));
                    background-repeat: no-repeat;
                    background-position: 50% 45%;
                    @include fixwidth(40px);
                    @include fixheight(40px);
                    padding: 0;
                    &:hover {
                        background-image: url(svg-linkedin-fill());
                    }
                }
                
                .twitter {
                    background-image: url(svg-twitter-fill($perdoo-medium-grey));
                    background-repeat: no-repeat;
                    background-position: 50% 55%;
                    @include fixwidth(40px);
                    @include fixheight(40px);
                    padding: 0;
                    &:hover {
                        background-image: url(svg-twitter-fill());
                    }
                }
            }
        }
    }
       
    
    section#footer-row2 {
        background-color: $perdoo-dark-grey;
        padding-top: $global-spacing / 4;
        padding-bottom: $global-spacing / 4;
        
        #footer-row2__container {
            @extend .container;
            
            svg {
                margin-top: 1em;
                color: $perdoo-medium-grey;
                fill: $perdoo-medium-grey;
            }
        
            #footer-row2__column1 {
                @extend .col-sm-6;    
                padding-left: 0;
                padding-right: 0;
            }
            #footer-row2__column2 {
                @extend .col-sm-6;    
                padding-left: 0;
                padding-right: 0;
                
                address {
                    text-align: right;
                    font-style: normal;
                    
                    span {
                        color: $perdoo-blue;
                    }
                }
            }
            @include media-range(mobile, mobile) {
                * {
                    text-align: center !important;
                    svg {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}